SQLAlchemy==2.0.51
gradio==6.8.0
gradio_client==2.2.0
gradio_pdf==0.0.24
langchain-community==0.4.2
langchain-core==1.6.3
langchain-mcp-adapters==0.3.2
langchain-openai==1.6.2
langgraph-checkpoint-postgres==3.1.0
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
langgraph==1.2.11
loguru==0.7.3
mcp==1.28.1
openai-agents==0.19.4
openai-harmony==0.0.8
openai==2.53.0
pydantic-settings==2.14.2
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
uvicorn==0.51.0
